@model Movies_Gallery.Entities.Comment
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@using Microsoft.AspNetCore.Identity

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    var movieId = ViewBag.Id;
}
<hr />
<div class="row">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CommentText" class="control-label"></label>
                    <input asp-for="CommentText" class="form-control" />
                    <span asp-validation-for="CommentText" class="text-danger"></span>
                </div>

                <input asp-for="UserId" type="hidden" value="@user.Id" />
                <input asp-for="MovieId" type="hidden" value="@movieId" />
                <input asp-for="ReleaseCreate" type="hidden" value="@DateTime.Now" />

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    }
    else
    {
        <p class="text-center">First you must been loggin</p>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>